.skills {
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 107px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 425px) {
    .skills {
        padding-top: 83px;
        padding-bottom: 98px;
    }
}
