.lang__switch {
  position: absolute;
  right: 0;
  top: 130px;
  display: flex;
  flex-direction: row;
  text-align: end;
  width: 65px;
  height: 20px;
  padding: 0;
  list-style-type: none;
  transform: rotate(-90deg);
}
.lang__switch-item {
  font-family: Gilroy-Bold;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}
.lang__switch-link {
  color: #828282;
  text-decoration: none;
}
.lang__switch-item_selected {
  color: #070707;
}
.intro__image-container {
  width: 90%;
}
@media all and (max-width: 767px) {
  .lang__switch {
    transform: rotate(90deg);
    width: 144px;
    height: 30px;
    top: 75%;
  }
  .lang__switch-item {
    font-size: 34px;
    line-height: 42px;
  }
}


.intro__image_mobile {
  display: none;
}
@media all and (max-width: 767px) {
  .intro__image_mobile {
    display: block;
    width: 100%;
  }
}





.header__burger {
  display: none;
}


@media all and (max-width: 767px) {
  .root.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: absolute;
    top: 68px;
    right: 40px;
    width: 33px;
    height: 20px;
    z-index: 4;
  }
  .header__burger .header__burger-midline {
    position: absolute;
    background-color: #070707;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #070707;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .1s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    transition: .2s;
  }
  .header__menu.active {
    top: 0;
    transition: .4s;
  }

  .header__menu-list {
    flex-direction: column;
    justify-content: space-between;
    margin: 66px 26px 150px;
  }

  .header__menu-link {
    font-size: 34px;
    line-height: 42px;
  }

  .header__burger.active:before {
    top: 9px;
    transition: .1s;
    animation: rotate1 .2s ease .2s forwards;
  }
  .header__burger.active:after {
    bottom: 9px;
    transition: .1s;
    animation: rotate2 .3s ease .2s forwards;
  }
  .header__burger.active .header__burger-midline {
    transform: scale(0);
    transition: .1s;
  }
@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
}

@media all and (max-height: 370px) {
  .header__menu-list {
    margin: 10px 26px 50px ;
  }
  .lang__switch {
    top: 65%;
  }
}
