

.header__menu-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.header__menu-link {
  color: white;
  text-decoration: none;
  margin: auto 20px;
}













.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 62.5vw;
  width: 100%;
  background-color: #0D1533;
  background-image: url(./img/header__background.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
  z-index: 1;
}
.header__background {
  display: flex;
  background-color: #1f1f1f;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.8;

}
.header__background_img {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;

  z-index: 0;

}

.intro__title {
  margin: auto;
  width: 15ch;
  overflow: hidden;
  color: white;
  font-size: 40px;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid orange;
  animation: printed-text 1.5s  steps(15),
             flashin-border .75s step-start infinite,
             opacity 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
  z-index: 1;
}
@keyframes flashin-border{
  0%{
    border-color: orange;
  }
  50%{
    border-color: transparent;
  }
  100%{
    border-color: orange;
  }
}

@keyframes printed-text{
  from {
    width: 0%;
  }
}

@keyframes opacity{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}






.content {
  background-color: #0D1533;
  color: white;
}
.description {
  display: flex;
  padding: 50px 0;
}
.description__columns {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.description__column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 240px;
  align-items: center;
  justify-content: center;
  fill: white;
  background-color: #0D1533;
  transition: 0.2s ease-in-out;
  border-radius: 25px;
  z-index: 2;

}
.description__column:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  box-shadow: 0 5px 10px rgba(60,105,165,1);
}
.description__column_img {
  height: 75px;
  width: 75px;
  background-size: cover;
  transition: 1s ease;
}
.description__column_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin: 25px 25px;
}
.description__column_text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 10px 25px;
}

