.Intro__title {
  width: 125px;
  font-family: Gilroy-Bold;
  font-size: 47.3392px;
  line-height: 59px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 940px;
  padding: 0 28px;
}




















.intro__title {
  margin: auto;
  width: 15ch;
  overflow: hidden;
  color: white;
  font-size: 40px;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid orange;
  animation: printed-text 1.5s  steps(15),
             flashin-border .75s step-start infinite,
             opacity 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
  z-index: 1;
}
@keyframes flashin-border{
  0%{
    border-color: orange;
  }
  50%{
    border-color: transparent;
  }
  100%{
    border-color: orange;
  }
}

@keyframes printed-text{
  from {
    width: 0%;
  }
}

@keyframes opacity{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
