.root {
  min-width: 320px;
  max-width: 1445px;
  margin: 0 auto;
  font-family: 'Gilroy', Arial, sans-serif;
  background-color: #FFFFFF;
  color: #070707;
}

@media all and (max-width: 767px) {
  .root.lock {
    overflow: hidden;
  }
}
