@import url(./__switch-item/lang__switch-item.css);
@import url(./__switch-link/lang__switch-link.css);

@import url(./__switch-item/_selected/lang__switch-item_selected.css);
@import url(./__switch_place/lang__switch_place.css);


.lang__switch {
  position: absolute;
  flex-direction: row;
  text-align: end;
  padding: 0;
  list-style-type: none;
  transform: rotate(-90deg);
}

@media all and (max-width: 767px) {
  .lang__switch {
    transform: rotate(90deg);
    top: 75%;
  }
}

@media all and (max-height: 370px) {
  .lang__switch {
    top: 65%;
  }
}
