@import url(../vendor/normalize.css);

@import url(../vendor/font/Gilroy.css);

@import url(../block/root/root.css);
@import url(../block/header/header.css);
@import url(../block/content/content.css);
@import url(../block/intro/intro.css);
