.cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 167px);
    grid-column-gap: 90px;
}

@media (max-width: 1024px) {
    .cards{
      grid-template-columns: repeat(3,167px);
    }
  }

  @media (max-width: 768px) {
    .cards{
      grid-template-columns: repeat(2,167px);
    }
  }


  @media (max-width: 455px) {
    .cards{
      grid-template-columns: repeat(1,167px);
    }
  }
