.header__menu-list {
  display: flex;
  width: 100%;
  max-width: 940px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: auto;
}

@media all and (max-width: 767px) {
  .header__menu-list {
    flex-direction: column;
    justify-content: space-between;
    margin: 66px 26px 150px;
  }
}
/* для коротких по высоте дисплеев */
@media all and (max-height: 370px) {
  .header__menu-list {
    margin: 10px 26px 50px ;
  }
}
